<div class="footer container position-relative">
  <div class="bg-lines">
    <div class="line line-primary line-bottom line-left"></div>
    <div class="line line-primary line-bottom line-center"></div>
    <div class="line line-primary line-bottom line-right"></div>
  </div>
  <div class="row py-6">
    <div class="col d-flex flex-column align-items-center justify-content-center">
      <svg class="text-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.55 62.78">
        <path id="text-circle" fill="none" d="M.13 62.78a62.64 62.64 0 1 1 125.29 0"/>
        <text aria-hidden="true" dx="14">
          <textPath href="#text-circle">
            Contact Me
          </textPath>
        </text>
      </svg>
      <h2 class="sr-only">Contact Me</h2>
      <img class="footer-img" src="./assets/profile.jpg" alt="The once decent picture Dylan has of himself.">
    </div>
  </div>
</div>