<div class="hyun-nav d-flex flex-row align-items-center bg-primary">
  <div class="nav-left mr-auto">
    <a class="nav-link-icon d-flex" href="./index.html">
      <svg class="icon-stroke-white icon-size-lg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 260">
        <path d="M.05 9.5s149.54.08 150.19 120C150.89 249.89.05 250.7.05 250.7" style="fill:none;stroke-miterlimit:10;stroke-width:19px"/>
        <path d="M160.06 10S10.51 10.13 9.87 130c-.65 120.39 150.19 121.2 150.19 121.2" style="fill:none;stroke-miterlimit:10;stroke-width:19px"/>
        <line x1="9.57" x2="9.57" y1="2.12" y2="258.08" style="fill:none;stroke-miterlimit:10;stroke-width:19px"/>
        <line x1="150.57" x2="150.57" y1="2.85" y2="258.97" style="fill:none;stroke-miterlimit:10;stroke-width:19px"/>
        <line x1=".05" x2="160.05" y1="130.48" y2="130.48" style="fill:none;stroke-linejoin:bevel;stroke-width:19px"/>
      </svg>
    </a>
  </div>
  <div class="nav-right d-flex flex-row align-items-center">
    <a class="nav-link" href="./about.html">About</a>
    <a class="nav-link" href="./assets/Hyun_Dylan_resume.pdf" target="_blank">Resume<span class="sr-only">opens in a new window</span></a>
    <a class="nav-link" href="#contact">Contact</a>
  </div>
</div>