<div class="project-card theme-workshop">
  <div class="project-card__image pb-3">
    <img src="./assets/workshop-sq.png">
  </div>
  <div class="project-card__content">
    <h3 class="h4 mb-md-0 mb-2">Designer & Developer Workshops</h3>
    <h4 class="h5 font-weight-light mb-4">Prudential</h4>
    <a class="project-card__link mt-auto" alt="" href="./workshop" loading="lazy"><span class="link-text">Explore project</span></a>
  </div>
</div>
<script src="./project-card-workshop.js"></script>