<div class="project-card theme-migration">
  <div class="project-card__image pb-3">
    <img src="./assets/migration-sq.jpg">
  </div>
  <div class="project-card__content">
    <h3 class="h4 mb-md-0 mb-2">Prudential Site Migration</h3>
    <h4 class="h5 font-weight-light mb-4">Prudential + Deloitte</h4>
    <a class="project-card__link mt-auto" href="./migration"><span class="link-text">Explore project</span></a>
  </div>
</div>
<script src="./project-card-migration.js"></script>