<div class="project-card project-card__lg theme-prudential row">
  <div class="project-card__content col-md-6 col-12 pr-0 pr-md-6 d-flex flex-column">
    <h3 class="mb-md-0 mb-2">Evolution Design System</h3>
    <h4 class="h5 font-weight-light mb-4">Prudential</h4>
    <p class="mb-4 mb-md-0">Building a new company-wide design system from the ground up. Leading the digital “evolution” of a 140 year old company to redefine its standing in the financial services industry.</p>
    <a class="project-card__link mt-auto" href="./evolution"><span class="link-text">Explore project</span></a>
  </div>
  <div class="project-card__image col-md-6 col-12 pl-0 pl-md-6 pb-md-0 pb-4">
    <img src="./assets/evolution-sq.jpg" alt="" loading="lazy">
  </div>
</div>
<script src="./project-card-evolution.js"></script>