<div class="project-card theme-cluster">
  <div class="project-card__image pb-3">
    <img class="img-cover__left" src="./assets/cluster.jpg">
  </div>
  <div class="project-card__content">
    <h3 class="h4 mb-0">Cluster</h3>
    <h4 class="h5 font-weight-light mb-4">Deloitte Innovation Competition</h4>
    <a class="project-card__link mt-auto" href="./cluster.html"><span class="link-text">Explore Project</span></a>
  </div>
</div>
<script src="../../scripts/project-card-cluster.js"></script>