<div class="project-card theme-prudential">
  <div class="project-card__image pb-3">
    <img src="./assets/evolution-sq.jpg">
  </div>
  <div class="project-card__content">
    <h3 class="h4 mb-0">Evolution Design System</h3>
    <h4 class="h5 font-weight-light mb-4">Prudential</h4>
    <a class="project-card__link mt-auto" href="./evolution.html"><span class="link-text">Explore Project</span></a>
  </div>
</div>
<script src="../../scripts/project-card-evolution.js"></script>