@use "./variables" as *;

// Document
*,
*::before,
*::after {
  box-sizing: border-box;
  letter-spacing: $letter-spacing;
}

// Root
:root {
  font-size: $font-size-root;
}

// Body
body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $body-color;
  line-height: $body-line-height;
}

// Typography
%heading {
  margin-top: 0; // 1
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-style: $headings-font-style;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1 {
  @extend %heading;
  font-size: $h1-font-size;
}

h2 {
  @extend %heading;
  font-size: $h2-font-size;
}

h3 {
  @extend %heading;
  font-size: $h3-font-size;
}

h4 {
  @extend %heading;
  font-size: $h4-font-size;
}

h5 {
  @extend %heading;
  font-size: $h5-font-size;
}

h6 {
  @extend %heading;
  font-size: $h6-font-size;
}

p {
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;
}

.h1 {
  @extend h1;
}

.h2 {
  @extend h2;
}

.h3 {
  @extend h3;
}

.h4 {
  @extend h4;
}

.h5 {
  @extend h5;
}

.h6 {
  @extend h6;
}