@use "../hyun-variables" as *;

// Body Gradient
.bg-theme-gradient {
  background-image: linear-gradient(var(--theme-primary), #{$hyun-white});
}

.bg-white {
  background-color: $hyun-white;
}

.bg-primary {
  background-color: var(--theme-primary);
}

.bg-secondary {
  background-color: var(--theme-secondary);
}

.bg-gray-light {
  background-color: $hyun-gray-light;
}