@use "../../foundation/variables" as *;
@use "../hyun-variables" as *;

// Text Sizes
.text-xs {
  font-size: $font-size-xs;
}

.text-sm {
  font-size: $font-size-sm;
}

.text-base {
  font-size: $font-size-base;
}

.text-lg {
  font-size: $font-size-lg;
}

.text-xl {
  font-size: $font-size-xl;
}

// Text Colors
.text-primary {
  color: var(--theme-primary);
}

.text-secondary {
  color: var(--theme-secondary);
}

.text-white {
  color: $hyun-white;
}

.text-light {
  color: $hyun-text-light;
}

// Fonts
.font-open-sans {
  font-family: 'Open Sans', Opensans-Regular !important;
}

.font-josefin-sans {
  font-family: 'Josefin Sans', Josefinsans-Regular !important;
}

// Font Weight
.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-base {
  font-weight: 400 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

// Text Circle
.text-circle {
  overflow: visible;
  width: 10rem;
  height: 5rem;
  z-index: 1;

  text {
    transform: translateY(2.8rem);
  }

  textPath {
    font-size: $h4-font-size;
    font-family: $headings-font-family;
    fill: var(--theme-primary);

    &.copyright-text {
      font-size: $font-size-xs;
    }
  }
}

// Lists
.list-unstyled {
  list-style: none;
  padding-left: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

li:not(:last-child) {
  margin-bottom: .25em;
}

// Text Spacing
.mt-content {
  margin-top: 1.15em;
}

// Spotlight
.text-spotlight {
  position: relative;
  padding-left: $spacer-3;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 5px;
    height: 100%;
    background-color: var(--theme-secondary);
  }
}

// Highlight - Theme based
$highlight-opacity: .2;

.highlight-hyun {
  background-color: rgba($hyun-red, $highlight-opacity);
}

.highlight-pru {
  background-color: rgba($pru-primary, $highlight-opacity);
}

.highlight-migration {
  background-color: rgba($migration-secondary, $highlight-opacity);
}

.highlight-workshop {
  background-color: rgba($workshop-primary, $highlight-opacity);
}
