@use "../../foundation/variables" as *;
@use "../hyun-variables" as *;

.section-hero {
  .hero {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }

  .hyun-title {
    font-size: $h3-font-size;
    text-align: center;
    opacity: 0;
    animation: fade-in .5s 3.3s ease-in-out forwards;
  }

  @media screen and (min-width: map-get($grid-breakpoints, sm)) {
    .hyun-title {
      font-size: $h1-font-size;
    }
  }

  .hyun-logo {
    &__letter {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      opacity: 1;
      animation: write-letter ease-in forwards;

      &.hidden {
        opacity: 0;
        transition: .4s .8s ease-out;
      }

      &.letter-d {
        animation-duration: .6s;
        animation-delay: .9s;
      }

      &.letter-c {
        animation-duration: .6s;
        animation-delay: 1.7s;
      }

      &.letter-h {
        &-left {
          animation-duration: .5s;
          animation-delay: .5s;
        }

        &-right {
          animation-duration: .6s;
          animation-delay: 2.6s;
        }

        &-center {
          animation-duration: .5s;
          animation-delay: 3.2s;
        }
      }
    }
  }

  .hyun-illustration {
    overflow: visible;
    opacity: 1;
    margin-bottom: 0;
    transition: opacity .8s .8s ease-in-out;
    animation: rotate 9s linear 4;

    &.hidden {
      opacity: 0;
    }
  }

  .hero-icons {
    position: relative;
    height: 300px;

    .hero-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.no-animation {
    .hyun-logo {
      display: none;
    }

    .hyun-nav {
      transition-delay: 0s;
    }

    .hyun-title {
      animation-duration: .8s;
      animation-delay: 0s;
    }

    .hyun-illustration {
      transition-delay: 0s;
    }

    .bg-lines {
      transition-delay: 0s;
    }
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes write-letter {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
