@use "../hyun-variables" as *;

.project-grid {
  display: grid;
  grid-template:
    [row1-start] "title cards ." 1fr [row1-end]
    [row2-start] "title cards ." 1fr [row2-end]
    / 10rem 1fr 10rem;
  gap: $spacer-4;

  .project-title {
    position: relative;
    grid-area: title;

    .project-title__header {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      transform-origin: 31px 119px;
      margin: 0;
      color: var(--theme-text);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 2.8rem;
      width: $hyun-border-width;
      height: 115%;
      background-color: $hyun-white;
    }
  }

  &__card-grid {
    grid-area: cards;
    display: grid;
    gap: $spacer-4;
    grid-template-columns: 1fr 1fr;
  }
}