@use "../../foundation/variables" as *;
@use "../hyun-variables" as *;

// Project Details Box
.project__info-box {
  display: flex;
  flex-direction: column;
  padding: $spacer-4;
  border: $hyun-border-width-sm solid var(--theme-primary);
  border-radius: $hyun-border-radius-sm;

  &__detail {
    .detail-title {
      display: block;
      color: var(--theme-primary);
      font-size: $font-size-xl;
      font-weight: 700;
    }

    .detail-item {
      display: block;
      font-size: $font-size-base;
    }
  }
}

// Images
.project__img-wrapper figcaption {
  margin-top: $spacer-1;
}

.project__img {
  width: 100%;
}

.project__img.project__img-bordered {
  border-radius: $hyun-border-radius-xs;
  box-shadow: 0 6px 8px rgba(0,0,0,.2);
}

.project__img-full-width {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 3 / 1;
}

.project__img-wrapper {
  margin: 0;
  margin-top: $spacer-4;
}

// Tracker
.project__tracker {
  position: sticky;
  top: $spacer-6;

  .tracker-step {
    font-size: $font-size-lg;
    transition: all $animation-duration-1 $animation-easing-ease-in;

    &.step-complete {
      color: $hyun-text-light;
    }

    &.step-active {
      font-weight: 700;
      font-size: $font-size-xl;
    }

    &.step-incomplete {
      color: var(--theme-link);
    }

    &:not(:last-child) {
      margin-bottom: $spacer-3;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Content
.project__section:not(:last-child) {
  padding-bottom: $spacer-6;
}

// Role
.content-points__item {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: $spacer-3;
  color: #fff;
  background-color: var(--theme-primary);
  // border: 1px solid var(--theme-primary);
  border-radius: $hyun-border-radius-sm;
  box-shadow: 0 6px 8px rgba(0,0,0,.2);
}
