@use "../hyun-variables" as *;

// Themes
body {
  --theme-primary: #{$hyun-red};
  --theme-secondary: #{$hyun-white};
  --theme-text: #{$hyun-white};
}

.theme-hyun {
  --theme-primary: #{$hyun-red};
  --theme-secondary: #{$hyun-white};
  --theme-text: #{$hyun-white};
}

.theme-prudential {
  --theme-primary: #{$pru-primary};
  --theme-secondary: #{$pru-secondary};
  --theme-text: #{$hyun-white};
}

// .theme-fw {
//   --theme-primary: #{$fw-primary};
//   --theme-secondary: #{$hyun-white};
//   --theme-text: #{$hyun-white};
// }

.theme-help {
  --theme-primary: #{$help-primary};
  --theme-secondary: #{$hyun-white};
  --theme-text: #{$hyun-white};
}

.theme-cluster {
  --theme-primary: #{$cluster-primary};
  --theme-secondary: #{$hyun-white};
  --theme-text: #{$hyun-white};
}

.theme-birds {
  --theme-primary: #{$birds-primary};
  --theme-secondary: #{$hyun-white};
  --theme-text: #{$hyun-white};
}
