@use "../hyun-variables" as *;

// Themes
body {
  --theme-primary: #{$hyun-red};
  --theme-secondary: #{$hyun-white};
  --theme-text: #{$hyun-white};
  --theme-link: #{$hyun-red};
}

.theme-hyun {
  --theme-primary: #{$hyun-red};
  --theme-secondary: #{$hyun-white};
  --theme-text: #{$hyun-white};
  --theme-link: #{$hyun-red};
}

.theme-prudential {
  --theme-primary: #{$pru-primary};
  --theme-secondary: #{$pru-secondary};
  --theme-text: #{$hyun-white};
  --theme-link: #{$pru-primary};
}

.theme-migration {
  --theme-primary: #{$migration-primary};
  --theme-secondary: #{$migration-secondary};
  --theme-text: #{$migration-secondary};
  --theme-link: #{$migration-secondary};
}

.theme-workshop {
  --theme-primary: #{$workshop-primary};
  --theme-secondary: #{$hyun-white};
  --theme-text: #{$hyun-white};
  --theme-link: #{$workshop-primary};
}
