@use "../hyun-variables" as *;
/* stylelint-disable */

@font-face {
  font-family: Josefinsans-Light;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("#{$font-url}family=Josefin-Sans:wght@300;&display=swap");
}

/* stylelint-enable */