@use "../hyun-variables" as *;
/* stylelint-disable */

@font-face {
  font-family: Josefinsans-Regular;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("#{$font-url}family=Josefin-Sans&display=swap");
}

/* stylelint-enable */