@use "../hyun-variables" as *;
/* stylelint-disable */

@font-face {
  font-family: Opensans-Regular;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("#{$font-url}family=Open+Sans&display=swap.woff2") format('woff2');
}

/* stylelint-enable */